<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-2">All Order Details</h1>
                <p class="text-center mb-5 fs-4">Total Orders: {{ordersCount}}</p>
                {{#if orders}}
                {{#each orders}}
                <div class="card mb-5">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-2"><strong>Order ID:</strong> {{this._id}}</h5>
                            <p class="mb-2"><strong>Date:</strong> {{this.orderDate}}</p>
                            <p><strong>Time:</strong> {{this.orderTime}}</p>
                        </div>
                        <div class="status-dropdown">
                            <select onchange="changeStatusOption('{{this._id}}')" id="{{this._id}}"
                                class="form-control m-auto text-center">
                                <option selected disabled>Change status</option>
                                <option value="placed">Placed</option>
                                <option value="pending">Pending</option>
                                <option value="canceled">Canceled</option>
                                <option value="shipped">Shipped</option>
                                <option value="delivered">Delivered</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-4">Products:</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center table-hover">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.products}}
                                    <tr>
                                        <td><img src="{{this.image}}" alt="{{this.name}}" width="75px" height="auto">
                                        </td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td>{{this.price}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-md-4 fs-4"><strong>Total Amount:</strong> Rs {{this.totalPrice}}</div>
                            <div class="col-md-4 fs-4"><strong>Payment Method:</strong> {{this.paymentMethod}}</div>
                            <div class="col-md-4 fs-4"><strong>Status: </strong><span
                                    id="status-{{this._id}}">{{this.orderStatus}}</span></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="mb-4 mt-2">User Information:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Name:</th>
                                    <td>{{this.name}}</td>
                                </tr>
                                <tr>
                                    <th>Address:</th>
                                    <td>{{this.deliveryDetails.address}}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{{this.deliveryDetails.city}}</td>
                                </tr>
                                <tr>
                                    <th>State:</th>
                                    <td>{{this.deliveryDetails.state}}</td>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{this.deliveryDetails.country}}</td>
                                </tr>
                                <tr>
                                    <th>Pincode:</th>
                                    <td>{{this.deliveryDetails.pincode}}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{this.email}}</td>
                                </tr>
                                <tr>
                                    <th>Mobile:</th>
                                    <td>{{this.deliveryDetails.mobile}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p class="text-center text-danger">Order details not found.</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>

<style>
    .card-header {
        border-bottom: 1px solid #e9ecef;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .status-dropdown select {
        width: 150px;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #b4c0ce;
        color: #040505;
        font-size: 16px;
    }

    .status-dropdown select {
        margin-top: 5px;
        width: 150px;
    }

    .table th,
    .table td {
        vertical-align: middle;
    }
</style>

<script>
    function changeStatusOption(orderId) {
        let statusValue = document.getElementById(orderId).value;
        $.ajax({
            url: '/admin/change-order-status',
            method: 'post',
            data: {
                orderId: orderId,
                orderStatus: statusValue
            },
            success: (response) => {
                if (response.status) {
                    let statusElement = document.getElementById(`status-${orderId}`);
                    if (statusElement) {
                        statusElement.textContent = statusValue.charAt(0).toUpperCase() + statusValue.slice(1);
                    }
                    Swal.fire({
                        title: 'Success',
                        text: response.message,
                        icon: 'success',
                        timer: 2000,
                        showConfirmButton: true
                    })
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        timer: 2000,
                        showConfirmButton: true
                    });
                }
            }
        });
    }
</script>