<section>
    <div class="container mt-5 mb-5 bg-light p-5">
        <div class="row">
            <h2 class="text-center mb-5">All User Details</h2>
            {{#if users}}
            <table class="col-md-12 table table-bordered table-hover text-center">
                <thead class="">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">UserId</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{ increment @index}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this._id}}</td>
                        <td><a href="/admin/view-user-orders/{{this._id}}" class="btn btn-primary">View orders</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{else}}
        <p class="text-center text-danger">User details are not found or there are no users.</p>
        {{/if}}
    </div>
</section>