<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 bg-light m-auto p-5">
                <h2 class="text-center mb-4">Edit Product</h2>
                <form id="editProductForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="name" id="titleInput"
                            placeholder="Enter Product Name" value="{{product.name}}">
                        <div class="invalid-feedback">Please enter a product name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="categoryInput" class="form-label">Category:</label>
                        <input type="text" class="form-control" name="category" id="categoryInput"
                            placeholder="Enter Product Category" value="{{product.category}}">
                        <div class="invalid-feedback">Please enter a product category.</div>
                    </div>
                    <div class="mb-3">
                        <label for="descriptionInput" class="form-label">Description:</label>
                        <input type="text" class="form-control" name="description" id="descriptionInput"
                            placeholder="Enter Product Description" value="{{product.description}}">
                        <div class="invalid-feedback">Please enter a product description.</div>
                    </div>
                    <div class="mb-3">
                        <label for="priceInput" class="form-label">Price:</label>
                        <input type="number" class="form-control" name="price" id="priceInput"
                            placeholder="Enter Product price" value="{{product.price}}">
                        <div class="invalid-feedback">Please enter a valid product price.</div>
                    </div>
                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Image:</label>
                        <img src="{{product.image}}" alt="" height="100px" class="m-2" id="imageView">
                        <input class="form-control" type="file" name="image" id="imageFile" accept="image/*"
                            onchange="viewImage(event)">
                        <div class="invalid-feedback">Please select an image file.</div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit" id="editProductBtn">
                            Edit product
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewImage(event) {
        document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0]);
    }

    document.getElementById('editProductForm').addEventListener('submit', function (event) {
        event.preventDefault();

        if (validateForm()) {
            submitForm();
        }
    });

    function validateForm() {
        const fields = ['titleInput', 'categoryInput', 'descriptionInput', 'priceInput'];
        let isValid = true;

        fields.forEach(field => {
            const input = document.getElementById(field);
            if (input.value.trim() === '') {
                input.classList.add('is-invalid');
                isValid = false;
            } else {
                input.classList.remove('is-invalid');
            }
        });

        return isValid;
    }

    function submitForm() {
        let formData = new FormData(document.getElementById('editProductForm'));

        $.ajax({
            url: '/admin/edit-product/{{product._id}}',
            method: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.status) {
                    Swal.fire({
                        title: 'Success',
                        text: response.message,
                        icon: 'success',
                        timer: 2000,
                        showConfirmButton: true
                    }).then(() => {
                        window.location = '/admin';
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: response.message,
                        icon: 'error',
                        timer: 2000,
                        showConfirmButton: true
                    });
                }
            }
        });
    }
</script>