<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-2">User Details</h1>
                <p class="text-center mb-5 fs-5">Total Orders: {{userOrdersCount}}</p>
                {{#if userOrders}}
                {{#each userOrders}}
                <div class="card mb-5">
                    <div class="card-header">
                        <h5 class="mb-2"><strong>Order ID:</strong> {{this._id}}</h5>
                        <p class="mb-2"><strong>Date:</strong> {{this.orderDate}}</p>
                        <p><strong>Time:</strong> {{this.orderTime}}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-4">Products:</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.products}}
                                    <tr>
                                        <td><img src="{{this.image}}" alt="{{this.name}}" width="75px" height="auto">
                                        </td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td>{{this.price}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="row text-center mt-4">
                            <div class="col-md-4 fs-4"><strong>Total Amount:</strong> Rs {{this.totalPrice}}</div>
                            <div class="col-md-4 fs-4"><strong>Payment Method:</strong> {{this.paymentMethod}}</div>
                            <div class="col-md-4 fs-4"><strong>Status:</strong> {{this.orderStatus}}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5 class="mb-4 mt-2">Delivery Address:</h5>
                        <table class="table table-bordered">
                            <tbody>

                                <tr>
                                    <th>Address:</th>
                                    <td>{{this.deliveryDetails.address}}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{{this.deliveryDetails.city}}</td>
                                </tr>
                                <tr>
                                    <th>State:</th>
                                    <td>{{this.deliveryDetails.state}}</td>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{this.deliveryDetails.country}}</td>
                                </tr>
                                <tr>
                                    <th>Pincode:</th>
                                    <td>{{this.deliveryDetails.pincode}}</td>
                                </tr>
                                <tr>
                                    <th>Mobile:</th>
                                    <td>{{this.deliveryDetails.mobile}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p class="text-center text-danger">Order details not found.</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>

<style>
    .card-header {
        border-bottom: 1px solid #e9ecef;
    }

    .table th,
    .table td {
        vertical-align: middle;
    }
</style>