<section>
    <div class="container mt-5 mb-5">
        <div class="row mb-4">
            <div>
                <a class="btn btn-success float-end" href="/admin/add-product" role="button">Add Products</a>
            </div>
        </div>
        <div class="row mt-5">
            {{#if products}}
            <h1 class="text-center mb-5" id="productsCount">Products ( {{productsCount}} )</h1>
            <div class="bg-light p-5">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mt-4 text-center" id="products-table">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Category</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr id="{{this._id}}">
                                <th scope="row">{{increment @index}}</th>
                                <td><img src="{{this.image}}" alt="" height="auto" width="50px"></td>
                                <td>{{this.name}}</td>
                                <td>{{this.category}}</td>
                                <td>{{this.description}}</td>
                                <td>₹ {{this.price}}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary me-2">Edit</a>
                                        <button class="btn btn-danger"
                                            onclick="deleteProduct('{{this._id}}', '{{this.name}}')">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{else}}
            <div class="col-md-12">
                <div data-aos="fade-down" class="card text-center p-4" style="width: auto;">
                    <h1 class="text-danger mt-5 mb-4">Products not found!!</h1>
                    <p class="text-warning fs-4 mb-3">
                        Product details are not available.
                    </p>
                    <p class="text-primary fs-4 mb-5">Please add products</p>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</section>

<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

<script>
    function deleteProduct(productId, productName) {
        Swal.fire({
            title: 'Are you sure?',
            text: `You are about to delete ${productName}. This action cannot be undone.`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/delete-product',
                    method: 'post',
                    data: {
                        id: productId
                    },
                    success: (response) => {
                        if (response.status) {
                            Swal.fire({
                                title: 'Success',
                                text: response.message,
                                icon: 'success',
                                timer: 2000,
                                showConfirmButton: true
                            })
                                .then(() => {
                                    document.getElementById(productId).remove();
                                    updateTableIndex();
                                    updateProductCount();
                                });
                        }
                    }
                });
            }
        });
    }

    function updateProductCount() {
        $.ajax({
            url: '/admin/get-products-count',
            method: 'get',
            success: (response) => {
                if (response.status) {
                    $('#products-count').text(response.count);
                    $('#productsCount').text(`Products ( ${response.count} )`);
                }
            },
        });
    }

    function updateTableIndex() {
        $('tbody tr').each(function (index) {
            $(this).find('th').text(index + 1);
        });
    }
</script>