<section>
    <div class="container mt-5 mb-5">
        <div class="row">
            {{#if products}}
            <table class="table table-bordered mt-2 text-center">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Item</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope=" row">{{ increment @index}}</th>
                        <td><img src="{{this.product.image}}" alt="" width="75px" height="auto"></td>
                        <td>{{this.product.name}}</td>
                        <td>RS: {{this.product.price}}</td>
                        <td>
                            <button class="btn btn-secondary me-3"
                                onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', -1)">-</button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class="btn btn-secondary ms-3"
                                onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', 1)">+</button>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                onclick="removeProductFromCart('{{this._id}}', '{{this.product._id}}')">Remove</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="row float-end mb-5 mt-5 p-4 border bg-light">
            <div class="col-md-12">
                <h4 class="mb-3">Total : Rs <span id="total-price">{{totalPrice}}</span></h4>
                <hr>
                <a href="/place-order" class="btn btn-success" style="width: 100%;">Place Order</a>
            </div>
        </div>
        {{else}}
        <h1 class="text-danger text-center mb-3"><strong>Cart is empty now...</strong></h1>
        <p class="text-danger text-center">Add products to the cart</p>
        <div class="text-center mb-5 mt-3">
            <a href="/" class=" btn btn-primary"><strong>Add products</strong></a>
        </div>
        {{/if}}
    </div>
</section>