<section>
    <div class="container mb-5">
        <div class="row bg-light p-5 m-5">
            {{#if products}}
            <table class="table table-bordered text-center table-hover">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Item</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th scope=" row">{{ increment @index}}</th>
                        <td><img src="{{this.product.image}}" alt="" width="75px" height="auto"></td>
                        <td>{{this.product.name}}</td>
                        <td>RS: {{this.product.price}}</td>
                        <td>
                            <button class="btn btn-secondary me-3"
                                onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', -1)">-</button>
                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                            <button class="btn btn-secondary ms-3"
                                onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', '{{../user._id}}', 1)">+</button>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                onclick="removeProductFromCart('{{this._id}}', '{{this.product._id}}')">Remove</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{!-- <div class="row mb-5 bg-light">
            <div class="col-md-12 bg-light m-5 float-end">
                <h4 class="mb-3">Total : Rs <span id="total-price">{{totalPrice}}</span></h4>
                <hr>
                <a href="/place-order" class="btn btn-success" style="width:100%;">Place Order</a>
            </div>
        </div> --}}
        <div class="row mb-5 justify-content-end">
            <div class="col-md-4 bg-light p-5" style="max-width: 400px;">
                <h4 class="mb-4 text-center">Total : Rs <span id="total-price">{{totalPrice}}</span></h4>
                <hr>
                <a href="/place-order" class="btn btn-success mt-2" style="width:100%;">Place Order</a>
            </div>
        </div>

        {{else}}
        <h1 class="text-danger text-center mb-3"><strong>Cart is empty now...</strong></h1>
        <p class="text-danger text-center">Add products to the cart</p>
        <div class="text-center mb-5 mt-3">
            <a href="/" class=" btn btn-primary"><strong>Add products</strong></a>
        </div>
        {{/if}}
    </div>
</section>

<style>
    .table th,
    .table td {
        vertical-align: middle;
    }
</style>